<section class="about-bg">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-xl-5 col-lg-5 col-sm-0">
        <!-- img -->
      </div>
      <div class="col-xl-7 col-lg-7 col-sm-12">
        <div class="text-box">
          <h2>What is Create own?</h2>
          <hr>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using
          </p>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using
          </p>
        </div>
        <div class="btn-black mt-20">
          <span>Become a seller</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "create-own-about",
  "settings": [],
  "presets": [
    {
      "name": "Create own about"
    }
  ]
}
{% endschema %}
