<section class="pb-70 pt-70">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="recommended-text-box">
        <h2 class="heading-text">We wanna open you shop with co</h2>
        <div class="btn-black">
          <span>Become a seller</span>
        </div>
      </div>
      <span class="line pt-20"> </span>
    </div>
  </div>

  <div class="card-box">
    <div class="owl-carousel owl-theme">
      <div class="item shop-bg">
        <img src="img/Seller-shop-img/s-1.png" alt="">
        <div class="p-text">
          <span class="profile-img">
            <img src="img/Seller-shop-img/p-1.png" alt="">
          </span>
          <h6>Gareth Lucas</h6>
          <div class="btn btn-border">
            <span>VIEW SHOP</span>
          </div>
        </div>
      </div>
      <div class="item shop-bg">
        <img src="img/Seller-shop-img/s-2.png" alt="">
        <div class="p-text">
          <span class="profile-img">
            <img src="img/Seller-shop-img/p-2.png" alt="">
          </span>
          <h6>Gareth Lucas</h6>
          <div class="btn btn-border">
            <span>VIEW SHOP</span>
          </div>
        </div>
      </div>
      <div class="item shop-bg">
        <img src="img/Seller-shop-img/s-3.png" alt="">
        <div class="p-text">
          <span class="profile-img">
            <img src="img/Seller-shop-img/p-3.png" alt="">
          </span>
          <h6>Gareth Lucas</h6>
          <div class="btn btn-border">
            <span>VIEW SHOP</span>
          </div>
        </div>
      </div>
      <div class="item shop-bg">
        <img src="img/Seller-shop-img/s-4.png" alt="">
        <div class="p-text">
          <span class="profile-img">
            <img src="img/Seller-shop-img/p-4.png" alt="">
          </span>
          <h6>Gareth Lucas</h6>
          <div class="btn btn-border">
            <span>VIEW SHOP</span>
          </div>
        </div>
      </div>
      <div class="item shop-bg">
        <img src="img/Seller-shop-img/s-2.png" alt="">
        <div class="p-text">
          <span class="profile-img">
            <img src="img/Seller-shop-img/p-1.png" alt="">
          </span>
          <h6>Gareth Lucas</h6>
          <div class="btn btn-border">
            <span>VIEW SHOP</span>
          </div>
        </div>
      </div>
      <div class="item shop-bg">
        <img src="img/Seller-shop-img/s-3.png" alt="">
        <div class="p-text">
          <span class="profile-img">
            <img src="img/Seller-shop-img/p-4.png" alt="">
          </span>
          <h6>Gareth Lucas</h6>
          <div class="btn btn-border">
            <span>VIEW SHOP</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "create-own-seller-shop",
  "settings": [],
  "presets": [
    {
      "name": "Create your own seller shop"
    }
  ]
}
{% endschema %}
