<section class="newsletter-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-sm-12">
        <div class="newsletter-heading text-center">
          <h2>
            Yes! Send me exclusive offers, unique gift ideas,<br>
            and personalized tips for shopping and selling on Create own.
          </h2>
        </div>

        <div class="search-box-1">
          <div class="search-bar-1">
            <input
              type="text"
              id="search"
              name="search-box"
              class="search"
              placeholder="Enter Your Email Address"
            >
            <button type="submit" class="btn-newsletter">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "create-own-newsletter",
  "settings": [],
  "presets": [
    {
      "name": "Create own Newsletter"
    }
  ]
}
{% endschema %}
