<section class="Recommended-section ">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="recommended-text-box">
        <h2 class="heading-text">Recommended for you</h2>
        <div class="btn-black">
          <span>SHOP NOW</span>
        </div>
      </div>
      <span class="line pt-20"> </span>
    </div>
  </div>

  <div class="card-box">
    <div class="owl-carousel owl-theme">
      <div class="item circle-shape">
        <img src="img/categorise-img/img-1.png" alt="">
        <span class="heart-icon">
          <i class="fas fa-heart"></i>
        </span>
        <div class="card-text pt-20">
          <h6>Flat 2-Layer Masks</h6>
          <span class="rating">
            <img src="img/categorise-img/rating.png" alt="" class="rating-img">
            <span class="rating-count">(10,002)</span>
          </span>
          <span class="price">$10.00</span>
        </div>
      </div>
      <div class="item circle-shape">
        <img src="img/categorise-img/img-2.png" alt="">
        <span class="heart-icon">
          <i class="fas fa-heart"></i>
        </span>
        <div class="card-text pt-20">
          <h6>Pillows & Cushions</h6>
          <span class="rating">
            <img src="img/categorise-img/rating.png" alt="" class="rating-img">
            <span class="rating-count">(10,002)</span>
          </span>
          <span class="price">$10.00</span>
        </div>
      </div>
      <div class="item circle-shape">
        <img src="img/categorise-img/img-3.png" alt="">
        <span class="heart-icon">
          <i class="fas fa-heart"></i>
        </span>
        <div class="card-text pt-20">
          <h6>Stickers</h6>
          <span class="rating">
            <img src="img/categorise-img/rating.png" alt="" class="rating-img">
            <span class="rating-count">(10,002)</span>
          </span>
          <span class="price">$10.00</span>
        </div>
      </div>
      <div class="item circle-shape">
        <img src="img/categorise-img/img-4.png" alt="">
        <span class="heart-icon">
          <i class="fas fa-heart"></i>
        </span>
        <div class="card-text pt-20">
          <h6>Boho Farmhouse Stylish....</h6>
          <span class="rating">
            <img src="img/categorise-img/rating.png" alt="" class="rating-img">
            <span class="rating-count">(10,002)</span>
          </span>
          <span class="price">$10.00</span>
        </div>
      </div>
      <div class="item circle-shape">
        <img src="img/categorise-img/img-5.png" alt="">
        <span class="heart-icon">
          <i class="fas fa-heart"></i>
        </span>
        <div class="card-text pt-20">
          <h6>The Procession Metal Print</h6>
          <span class="rating">
            <img src="img/categorise-img/rating.png" alt="" class="rating-img">
            <span class="rating-count">(10,002)</span>
          </span>
          <span class="price">$10.00</span>
        </div>
      </div>
      <div class="item circle-shape">
        <img src="img/categorise-img/img-6.png" alt="">
        <span class="heart-icon">
          <i class="fas fa-heart"></i>
        </span>
        <div class="card-text pt-20">
          <h6>The Procession Metal Print</h6>
          <span class="rating">
            <img src="img/categorise-img/rating.png" alt="" class="rating-img">
            <span class="rating-count">(10,002)</span>
          </span>
          <span class="price">$10.00</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Create Own Recomended",
  "settings": [],
  "presets": [
    {
      "name": "Create Own Recomended"
    }
  ]
}
{% endschema %}
