<section class="slider-section">
  <div class="slider-box">
    <div class="slider-active">
      <div class="single-slider single-slider-bg-1 slider-height">
        <div class=" u-padding ">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-8 col-sm-8">
                <div class="slider-text">
                  <div class="slider-heading">
                    <h1>Face mask</h1>
                  </div>
                  <div class="slider-para">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                      eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                  <div class=" btn-black mt-10">
                    <span>SHOP NOW</span>
                  </div>
                  <div class="profile mt-35">
                    <img src="img/profile-mg/profile-circle.png" alt="" class="f-left pr-2">
                    <span class="fix mt-10"> 1K+ customers purchased this mask </span>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-4 col-sm-4">
                <span>
                  <!-- blank -->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-slider single-slider-bg-2 slider-height">
        <div class="slider-text u-padding">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-8 col-sm-8">
                <div class="slider-text">
                  <div class="slider-heading">
                    <h1>Clothing</h1>
                  </div>
                  <div class="slider-para">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                      eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                  <div class="btn-black mt-10">
                    <span>SHOP NOW</span>
                  </div>
                  <div class="profile mt-35">
                    <img src="img/profile-mg/profile-circle.png" alt="" class="f-left pr-2">
                    <span class="fix mt-10"> 1K+ customers purchased this cloth </span>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-4 col-sm-4">
                <span>
                  <!-- blank -->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-slider single-slider-bg-3 slider-height">
        <div class="slider-text u-padding">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-8 col-sm-8">
                <div class="slider-text">
                  <div class="slider-heading">
                    <h1>Accessories</h1>
                  </div>
                  <div class="slider-para-3">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                      eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                  <div class="btn-black mt-10">
                    <span>SHOP NOW</span>
                  </div>
                  <div class="profile mt-35">
                    <img src="img/profile-mg/profile-circle.png" alt="" class="f-left pr-2">
                    <span class="fix mt-10 text-white"> 1K+ customers purchased Accessories </span>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-4 col-sm-4">
                <span>
                  <!-- blank -->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Create Own Hero Slider",
  "settings": [],
  "presets": [
    {
      "name": "Create Own Hero Slider"
    }
  ]
}
{% endschema %}
