<div class="categories-section">
  <div class="container">
    <ul class="categories-list">
      <a href="#" class="categories-item text-center">
        <li>
          <img src="img/category-icon/trending.png" alt="">
          <span class="d-block pt-15 "> Trending </span>
        </li>
      </a>
      <a href="#" class="categories-item text-center">
        <li>
          <img src="img/category-icon/icon-1.png" alt="">
          <span class="d-block pt-15"> Face Mask </span>
        </li>
      </a>
      <a href="#" class="categories-item text-center">
        <li>
          <img src="img/category-icon/icon-2.png" alt="">
          <span class="d-block pt-15"> Wall decor </span>
        </li>
      </a>
      <a href="#" class="categories-item text-center">
        <li>
          <img src="img/category-icon/icon-4.png" alt="">
          <span class="d-block pt-15"> Outdoor </span>
        </li>
      </a>
      <a href="#" class="categories-item text-center">
        <li>
          <img src="img/category-icon/icon-5.png" alt="">
          <span class="d-block pt-15"> Tote bags </span>
        </li>
      </a>
      <a href="#" class="categories-item text-center">
        <li>
          <img src="img/category-icon/icon-6.png" alt="">
          <span class="d-block pt-15"> Stickers </span>
        </li>
      </a>
      <a href="#" class="categories-item text-center">
        <li>
          <img src="img/category-icon/icon-7.png" alt="">
          <span class="d-block pt-15"> On sale </span>
        </li>
      </a>

      <a href="#" class="categories-item text-center">
        <li>
          <img src="img/category-icon/icon-more.png" alt="">
          <span class="d-block pt-15"> More </span>
        </li>
      </a>
    </ul>
  </div>
</div>
{% schema %}
{
  "name": "Create Own Categories",
  "settings": [],
  "presets": [{ "name": "Create Own Categories" }]
}
{% endschema %}
